@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  max-height: 768px;
  max-width: 1366px;
  background: url(../img/background_1.jpg);
  background-repeat: no-repeat;
}

.title {
  padding: 51px 176px 19px 161px;
  margin-left: -27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title__left {
  display: flex;
  flex-direction: row;
}
/* 
.logo_link:hover {
  display: none;
} */

.logo-link {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #fff;
}

.logo-link:hover {
  color: #f26522;
}

.logo_img {
  background-image: url(../img/logo_1.png);
  height: 47px;
  width: 53px;
  margin-top: 5px;
  margin-bottom: 9px;
}

.logo-link:hover .logo_img {
  background-image: url(../img/logo_2.png);
}

.logo_name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: uppercase;
  margin-top: 1px;
  margin-left: 10px;
  align-items: flex-start;
}

.big {
  font-size: 29px;
}

.title__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 53px;
}

.milan {
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  max-height: 30px;
  margin: 0px auto;
}

.holidays {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  max-height: 21px;
  margin: 0px auto;
}

.title__left__name a {
  text-decoration: none;
}

.title__contact a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.title__contact a:hover {
  color: #f26522;
}

.tours {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 56px;
  align-items: center;
  margin: 0px 147px 50px 133px;
}

.tours__choice {
  height: 250px;
  width: 300px;
}

.tours__choice img {
  height: 210px;
  width: 300px;
}

.tours__choice__name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
}

.tours__choice__preview {
  position: relative;
  top: -107px;
  display: none;
  background-color: #f26522;
  max-width: 300px;
  max-height: 55px;
}

.tours__choice:hover .tours__choice__preview {
  display: block;
}

.tours__choice__preview p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}

.tours__choice__preview__price {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 27px 26px;
}

.tours__choice__preview__price .from {
  font-size: 10px;
  margin: -5px 0px 0px 15px;
  justify-content: flex-start;
}

.tours__choice__preview__price .price {
  font-size: 20px;
  margin: -20px 0px 0px 15px;
  justify-content: flex-start;
}

.tours__choice__preview__price .details {
  font-size: 14px;
  margin: -15px 20px;
}
.tours__choice__preview__price a {
  text-decoration: none;
}

.Copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
}
