* {
  font-size: 14px;
}

li.item {
  font-size: 48px; /* размер */
  color: pink; /* цвет */
  font-family: sans-serif; /* шрифт */
}

.green {
  color: green;
}

.list .item {
  color: blue;
  font-style: italic;
}

.item.red {
  color: red;
}

ul li.item a {
  font-style: italic;
  font-weight: bold;
  color: black;
}
