@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  background: url("../img/sectionsBackground/section-1\(header\).jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.top-menu {
  display: flex;
  align-items: center;
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
}

.top-menu__logo {
  margin-left: 380px;
}

.top-menu__nav {
  margin-left: 305px;
  font-family: "Montserrat", sans-serif;
}

.top-menu__nav-list {
  display: flex;
  margin-right: 21px;
}

.top-menu__nav-item a {
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 21px;
  font-weight: 700;
  transition: all 0.5s ease;
}

.top-menu__nav-item a {
  position: relative;
  display: inline-block;
}

.top-menu__nav-item a {
  background: #18cfab;
  background: linear-gradient(currentColor, currentColor) 50% 100% no-repeat;
  background-size: 0 2px;
  transition: background 250ms ease 0s;
}

.top-menu__nav-item a:hover {
  color: rgba(24, 207, 171, 1);
  background-size: 100% 1px;
}

.title {
  text-align: center;
  color: white;
  margin-top: 265px;
  padding-bottom: 245px;
}

.main-title {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.colored {
  color: rgba(24, 207, 171, 1);
}

.slogan {
  font-size: 78px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.sub-title {
  color: rgba(212, 212, 212, 1);
  font-size: 34px;
  font-weight: 400;
}

.btn {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  background-color: #18cfab;
  padding: 16px 18px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 150px;
  margin-right: 26px;
}

.button__blue {
  background-color: #00cbf6;
}

.about-us {
  margin-top: 8px;
  padding-bottom: 91px;
}

.advantages {
  display: flex;
  align-items: center;
}

.advantages-option {
  height: 360px;
  width: 482px;
  text-align: center;
  align-items: center;
}

.black {
  background-color: #1c2a33;
}

.blue {
  background-color: #18cfab;
}

.white {
  color: white;
}

.color {
  color: #18cfab;
}

.subtitle {
  font-size: 20px;
  margin-top: 47px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.icon {
  padding-top: 83px;
}

.icon_big {
  padding-top: 105px;
}

.title_desc {
  color: #4e4e4e;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;

  text-align: center;
  padding-top: 83px;
  line-height: 40px;
}

.lines {
  align-items: center;
  margin-top: 24px;
  height: 8px;
}

.line {
  height: 1px;
  width: 79px;
  background-color: #18cfab;
  text-align: center;
  border: none;
  display: block;
}

.second {
  left: 13px;
  top: 4px;
  display: block;
}

.filter-services {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  position: relative;
  padding-bottom: 15px;
}

.filter-services__button {
  font-size: 16px;
  text-align: center;
  background: #f8fcfe;
  box-sizing: border-box;
  padding: 19px 35px;
  color: #717171;
  border: 1px solid #edefef;
  cursor: pointer;
}

.filter-services__button.active {
  background: #18cfab;
  color: #ffffff;
  border: 1px solid #18cfab;
}

.filter-services__button:hover {
  border: 1px solid #18cfab;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.our-services img {
  width: 192px;
  height: 165px;
  margin-right: 15px;
  margin-left: 18px;
}

.our-services__desc {
  justify-content: center;
  color: #777777;
  line-height: 25px;
  height: 139px;
  max-height: 900px;
  display: none;
}

.our-services__desc.is-open {
  display: flex;
}

.rectangle {
  position: absolute;
  bottom: 0;
  left: 100px;
  top: 72px;
}

.purshace {
  background: url("../img/sectionsBackground/section-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.purshace-buy {
  padding-top: 127px;
  text-align: center;
  padding-bottom: 127px;
}

.purshace-title {
  color: #18cfab;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.purshace-subtitle {
  color: #d8d8d8;
  font-size: 15px;
  text-align: center;
  margin-top: 12px;
}

.work {
  background: #e9edef;
}

.work-section {
  display: flex;
  margin-top: 97px;
  margin-bottom: 70px;
  justify-content: center;
}

.work-section__btn {
  font-size: 14px;
  padding: 14px 15px;
  background-color: transparent;
  border: 1px solid #dadada;
  color: #717171;
}

.work-section__btn:hover {
  border: 2px solid #18cfab;
  color: #18cfab;
}

.work-galery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
}

.work-galery_hidden {
  display: none !important;
}

.work-galery__item {
  position: relative;
  overflow: hidden;
}

.work-galery__preview {
  position: absolute;
  background-color: #e9edef;
  border-top: #18cfab;
  width: 285px;
  height: 211px;
  bottom: -285px;
  box-sizing: border-box;
  transition: 0.25s;
  align-items: center;
}

.icon_amazing_work {
  padding-top: 0px;
}

.work-galery__preview a {
  width: 88px;
  height: 43px;
  display: block;
  margin: 40 auto;
}

.work-galery__item img {
  width: 100%;
  height: auto;
}

.work-galery__item:hover .work-galery__preview {
  bottom: 0;
  z-index: 100;
  margin-top: 50px;
}

.creative-designe h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  color: #18cfab;
  margin-top: 20px;
}

.creative-designe p {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  text-align: center;
  color: #8a8a8a;
}

.btn--img {
  text-transform: uppercase;
  font-size: 17px;
  background-color: #18cfab;
  padding: 22px 23px;
  color: white;
  font-weight: 700;
  display: inline-block;
  box-sizing: border-box;
  margin: 70px 0px 0px 490px;
  align-items: center;
  margin-bottom: 100px;
  cursor: pointer;
}

.btn--img img {
  margin-right: 15px;
}

.news-galery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1140px;
  margin: 70px 0px 120px 0px;
}

.news-date {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 193px;
  margin-top: -208px;
  max-height: 70px;
  max-height: 70px;
  background: #4e4e4e;
}

.news-date p {
  font-size: 16px;
  color: #ffffff;
  padding-top: 12px;
  background: #203e38;
  height: 30px;
  width: 70px;
}

.news-blog-post {
  margin-top: 150px;
  margin-bottom: 40px;
}

.news-blog-post h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  color: #717171;
}

.news-blog-post p {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  text-align: center;
  color: #777777;
}

.news-galery__item:hover .date {
  background-color: #18cfab;
}

.news-galery__item:hover .post {
  color: #18cfab;
}

.people {
  background: url("../img/sectionsBackground/section-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title_people {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  display: block;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
}

.people_shape img {
  text-align: center;
  border: none;
  display: block;
  margin: 66px auto;
}

.people_say_text {
  display: none;
  text-align: center;
}

.people_say_text.active {
  display: block;
}

.people_say_text p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
}

.people_say_text p:last-child {
  font-size: 14px;
}

.people_say_text h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #18cfab;
  margin: 37px 0px 10px;
}

.people_say_text img {
  margin-top: 50px;
  border: rgba(24, 207, 271, 0.2) 7px solid;
  border-radius: 80px;
  height: 120px;
  width: 120px;
}

.people_say_scroll {
  display: flex;
  justify-content: center;
}

.people_say_scroll_face {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  margin-top: 45px;
  transition: margin 0.25s ease;
  margin-bottom: 100px;
  cursor: pointer;
}

.people_say_scroll_face.active {
  margin-top: 30px;
}

.people_say_scroll_face:last-child {
  margin-right: 0px;
}

.btn--scroll {
  height: 30px;
  width: 30px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
  margin: 60px 35px 15px 15px;
  text-decoration: none;
  cursor: pointer;
}

.btn--scroll:hover {
  background: #18cfab;
  border: 1px solid #18cfab;
}

.btn--scroll p {
  font-size: 42px;
  margin-left: 3px;
  margin-top: -6px;
  color: #bbbbbb;
}

.btn--scroll:hover p {
  color: #ffffff;
}

.copyright {
  background-color: #22353f;
  width: 100%;
  height: 121px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;

  color: #aeaeae;
}

.copyright span {
  color: #18cfab;
}
