.wrapper-price {
  display: flex;
  align-items: center;
}

ul {
  margin-top: 10px;
  list-style-type: none;
  margin-left: 90px;
}

li {
  padding-left: 10px;
  border: 2px solid grey;
  border-radius: 25px;
  width: 135px;
}

button {
  margin: 10px;
}

input {
  width: 150px;
  height: 25px;
  border: 4px solid transparent;
  margin-left: 15px;
  border: 4px solid black;
}

#error {
  color: red;
  margin-left: 20px;
}

.invalid {
  border: 4px solid red;
}

.focused {
  border: 4px solid green;
}

:focus-visible {
  outline: transparent;
}

.hide {
  display: none;
}
