@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.clearfix {
  display: block;
  clear: both;
}

.clearfix-after:after {
  display: block;
  content: "";
  clear: both;
}

.top-menu__logo img {
  width: 136px;
  height: 28px;
}

.top-menu__nav-list {
  padding: 0px;
}

.top-menu__nav-item {
  display: inline-block;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
  border-bottom: 3px solid #f1b128;
  align-items: center;
  padding: 22px 0px;
}
.top-menu__nav-item a {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #3d3d3d;
  text-decoration: none;
  margin: 35px;
}

.top-menu__nav-item:first-child a {
  margin-left: 0px;
}

.top-menu__nav-item:last-child a {
  margin-right: 0px;
}

.hello {
  background-image: url("../img/Layer_21_1.jpg");
  height: calc(100vh - 75px);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  width: 100%;
}

.about-us {
  margin-top: 80px;
}
.description__title {
  margin-bottom: 29px;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.description__text {
  font-size: 17px;
  font-family: "Lato";
  font-weight: 400;
  text-align: center;
}

.description {
  margin-bottom: 96px;
}

.description::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #f1ad1d;
  margin: 50px auto;
  display: block;
}

.about-us-content {
  display: flex;
  flex-wrap: wrap;
}

.side-left,
.side-right {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 590px;
}

.about-us-content__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.about-us-content__title--decorated {
  color: #f1ad1d;
}

.about-us-content__text {
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  color: #505050;
  margin-bottom: 36px;
  text-align: justify;
}

.button {
  padding: 19px 27px;
  background-color: #f1ad1d;
  font-weight: 700;
  font-size: 14px;
  font-family: "Lato";
  text-decoration: none;
  color: white;
  display: inline-block;
}

.side-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.about-us-content__img {
  weight: 270px;
  height: 148px;
  margin-bottom: 22px;
}

.portfolio {
  padding-top: 100px;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.portfolio-filter__button {
  font-size: "lato";
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding: 0px 41px;
  margin: 0px 14px;
  border: 1px solid #333333;
  border-radius: 0px;
  background-color: transparent;
}

.portfolio-filter__button--active {
  font-size: "lato";
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding: 0px 41px;
  margin: 0px 14px;
  border: 1px solid #333333;
  border-radius: 0px;
  color: #f1ad1d;
  background-color: #333333;
}

.portfolio-galery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 275px;
  grid-gap: 15px;
}

.portfolio-galery__preview h3 {
  font-size: 18px;
  font-family: "Lato";
  font-weight: normal;
  color: #111111;
  text-align: center;
}

.portfolio-galery__preview p {
  font-size: 14px;
  font-family: "Lato";
  font-weight: 300;
  color: #5b5b5b;
  text-align: center;
  margin-bottom: 27px;
  line-height: 17px;
}

.portfolio-galery__preview {
  display: none;
  text-align: center;
  border: 2px solid #333333;
  height: 100%;
  padding: 50px 13px;
  box-sizing: border-box;
}

.portfolio-galery__preview hr {
  width: 64px;
  height: 3px;
  background-color: #f1ad1d;
  margin-bottom: 28px;
  margin-top: 25px;
}

.portfolio-galery__item img {
  width: 100%;
  height: 100%;
}

.portfolio-galery__item:hover img {
  display: none;
}

.portfolio-galery__item:hover .portfolio-galery__preview {
  display: block;
}

.line {
  width: 60px;
  height: 3px;
  background-color: #f1ad1d;
  border: none;
  margin: 50px auto;
}

#what-they-said {
  margin-top: 100px;
  margin-bottom: 100px;
}

.bio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

.bio__comments {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  text-align: justify;
}

.bio__comments hr {
  height: 3px;
  width: calc(100% - 65px);
  border: none;
  background-color: #f1ad1d;
  margin-top: 35px;
}

.bio__author {
  margin-top: 50px;
  font-family: Lato;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.bio__author img {
  float: left;
  margin-right: 12px;
  height: 44px;
  width: 56px;
}

.bio__author .name {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.bio__author .about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  min-height: 44px;
}

.bio__comments .brackets img {
  width: 52px;
  height: 48px;
  float: left;
}

.bio__comments .brackets {
  border-top: 1px solid transparent;
  margin-bottom: 16px;
  position: relative;
}

.bio__comments .brackets::before {
  content: "";
  width: 52px;
  height: 48px;
  display: block;
  background-image: url(../img/Brackets.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: -10px;
  left: 0px;
}

.bio__comments .brackets::after {
  content: "";
  width: calc(100% - 65px);
  height: 3px;
  background-color: #f1ad1d;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.about-us-content__photo {
  position: relative;
  margin-bottom: 22px;
}

.about-ua-content__caption {
  position: absolute;
  font-family: "Lato";
  left: 13px;
  bottom: 11px;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  width: 117px;
  padding: 14px 17px;
  background-color: #333333;
}

.gold-secret-container__content {
  float: left;
  width: calc(25% - 18.75px);
  /* max-width: 275px; */
  background-color: thistle;
  margin-right: 25px;
  box-sizing: border-box;
}

.gold-secret-container__content:last-child {
  margin-right: 0px;
  /* width: 25%; */
}

.gold-secret-container__content h3 {
  margin-right: 0px;
}

.title-hero {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
}

.title-hero .colored {
  color: #f1ad1d;
}

.title-hero::after {
  content: "";
  height: 3px;
  width: 62px;
  background-color: #f1ad1d;
  margin: 59px auto 0px;
  display: block;
}

.hero-wrapper {
  border: 3px solid #f1ad1d;
  min-height: 400px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands img:not(:last-child) {
  margin-right: 61px;
}

.hello-title-wrapper {
  color: white;
  margin-bottom: 149px;
}

.hello .main-title {
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.hello .sub-title {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 21px;
}

.hello .slogan {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  padding: 38px 31px;
  background-color: rgba(0, 0, 0, 0.35);
  display: inline-block;
  border: 1px solid white;
}

.hello .hello-title-wrapper .colored {
  color: #f48e0b;
  margin-right: 52px;
}

.hello .hello-title-wrapper .colored::after {
  content: "";
  width: 2px;
  height: 142px;
  background-color: #f48e0b;
  position: absolute;
  left: 162px;
  top: 0px;
}

#contact {
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-container {
  display: flex;
}

.contact__left-side {
  flex-grow: 2;
}

.contact__right-side {
  flex-grow: 1;
}

.contact__title {
  padding: 24px 17px 17px;
  background-color: #333333;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: white;
}

.contact__title .colored {
  color: #f48e0b;
}

.contact__left-side .contact__title {
  max-width: 383px;
}

.contact-us__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #505050;
  margin: 15px 0px 25px;
}

.contact-us__form input {
  border: 1px solid #929292;
  padding: 21px 13px;
  margin-bottom: 19px;
  flex-grow: 1;
}

.contact-us__form .form-group input:not(:last-child) {
  margin-right: 25px;
}

.contact-us__form textarea {
  display: block;
  width: 100%;
  margin-bottom: 21px;
  min-height: 187px;
  box-sizing: border-box;
  padding: 21px 14px;
}

.contact-us__form button:not(:last-child) {
  margin-right: 20px;
}

.contact-us__form button {
  padding: 16px 40px;
  border: none;
  cursor: pointer;
}

.contact-us__form {
  width: 574px;
}

.form-group {
  display: flex;
}

.contact-us__list .icon {
  background-color: #333;
  color: #f48e0b;
  width: 39px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin-right: 11px;
}

.contact-us__list {
  margin-bottom: 35px;
}

.contact-us__item:not(:last-child) {
  margin-bottom: 6px;
}

.contact-us__item a,
.contact-us__item {
  text-decoration: none;
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  color: #505050;
}

.contact__social {
  display: flex;
  margin-top: 26px;
}

.contact__social-item .icon {
  width: 80;
  height: 46px;
  text-align: center;
  line-height: 46px;
  color: #fff;
  background-color: #f1ad1d;
}

.contact__social-item:not(:last-child) {
  margin-right: 13px;
}

.contact__social-item:hover {
  box-shadow: 0px 0px 25px -7px #333;
}
