@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

header {
  background-color: #f2f2f2;
}

.top-menu__logo {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
  align-items: center;
  max-height: 70px;
}

.top-menu__architect a {
  font-family: "Open Sans";
  left: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 27px;
}

.top-menu__nav {
  display: flex;
  align-items: center;
  text-align: center;
}

.top-menu__nav-item {
  display: inline-block;
}

.top-menu__nav-item a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 35px;
  color: #ffffff;
}

.top-menu__nav-item a:hover {
  color: #14b9d5;
}

.top-menu__nav-item:last-child a {
  margin-right: 0px;
}

.top-menu__find {
  background-color: #000000;
  margin: 0px;
  padding: 25px 25px;
}

.latest-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/header-background.jpg");
  padding: 120px 0px;
}

.latest-news__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
  margin-bottom: 45px;
}

.latest-news__title:nth-child(2n) {
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
}

.latest-news__button {
  display: inline-block;
  justify-content: center;
}

.button {
  background-color: #89ca62;
  font-family: "Open Sans";
  height: 55px;
  width: 155px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
}

.button:last-child {
  background-color: #14b9d5;
}

.title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin: 50px 0px;
  color: #18b4cf;
}

.popular-post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}

.popular-post__list {
  margin-right: 30px;
}

.popular-post__list:last-child {
  margin-right: 0px;
}

.popular-post__list__img {
  background-color: #ffffff;
  margin-bottom: 30px;
}

.popular-post__list__img p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353a3d;
  padding: 20px 0px;
}

.line {
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  border: none;
  margin: 80px 0px 110px;
}

.popular-clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/popular-client.jpg");
  padding: 110px 0px 180px;
}

.popular-clients__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
}

.popular-clients__title::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #f1ad1d;
  margin: 50px auto;
  display: block;
}

.popular-clients__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  align-items: center;
}

.popular-clients__list img:nth-child(2n) {
  margin-left: 30px;
}

.top-rated-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.top-rated-list img {
  max-width: 230px;
}

.hot-news-h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: end;
  margin-bottom: 15px;
}

.hot-news-p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  text-align: end;
}

.hot-news-list__block__no-text .hot-news-h3 {
  text-align: center;
}

.hot-news-list {
  margin: 0px auto;
}

.hot-news-list__block__right {
  display: grid;
  grid-template-columns: 482px 416px;
  max-height: 259px;
  max-width: 900px;
  background-color: #f2f2f2;
  justify-content: flex-start;
}

.hot-news-list__block__no-text {
  display: grid;
  grid-template-rows: 4fr 1fr;
  max-height: 259px;
  max-width: 277px;
  background-color: #f2f2f2;
  align-items: center;
}

.hot-news-list__block__text {
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-height: 450px;
  max-width: 554px;
  background-color: #f2f2f2;
}

.top-rated-list_block1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 940px 352px);
  margin-bottom: 50px;
  justify-content: space-evenly;
}

.top-rated-list_block2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, 625px);
  grid-gap: 40px;
  margin-bottom: 50px;
  justify-content: space-evenly;
}

.top-rated-list_block3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 325px 968px);
  margin-bottom: 70px;
  justify-content: space-evenly;
}

.copyright {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #000;
}

.copyright__all-rights {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  margin: 30px 0px;
  text-align: center;
}

.copyright__watermark {
  margin: 30px 0px;
  align-items: center;
  text-align: center;
}
