@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  max-width: 1450px;
}
.title {
  font-family: "Roboto";
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  margin: 30px 98px;
}

.title a {
  text-decoration: none;
  outline: none;
  color: #000000;
}

.title--decorated {
  color: rgb(0, 195, 255);
}

.title-menu__nav {
  padding-top: 28px;
}

.title-menu__nav-list {
  padding: 0px 98px;
  display: flexbox;
  justify-content: space-between;
  margin: 0px auto;
}

.title-menu__nav-item {
  display: inline-block;
}

.title-menu__nav-item a {
  font-size: 18px;
  font-family: "Roboto";
  color: #ffffff;
  text-decoration: none;
  border-left: 1px solid #ffffff;
  padding: 26px 70px 19px 70px;
  background: #35444f;
}

.title-menu__nav-item a:hover {
  background-color: #222f3a;
}

/* разделитель */

.about-us {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 50px 0px;
}

.side-left {
  border: 1px solid #000000;
  margin: 00px 25px 0px 98px;
  max-height: 400px;
  width: 350px;
}
.about-us-content__nav-item a {
  padding: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #485863;
  text-decoration: none;
  margin-left: 0px;
}

.about-us-content__nav-item a:hover {
  background-color: #dbdbdb;
  color: #000;
}

.side-right {
  display: block;
  justify-content: center;
  align-items: stretch;
  margin: 00px 0px 0px 0px;
  box-sizing: border-box;
  flex-basis: 800px;
}
.img1 {
  text-align: center;
  height: 381px;
  width: 320px;
  border: 1px solid #000000;
  padding: 75px 271px;
}

.side-right--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 37px;
  margin-bottom: 54px;
}

/* разделитель */
.footer-menu__nav-list {
  padding: 0px;
}

.footer-menu__nav-item {
  display: inline-block;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  align-items: center;
  background-color: rgba(99, 105, 110, 0.48);
  margin: 20px 98px;
  padding: 20px;
}
.footer-menu__nav-item a {
  font-size: 28px;
  line-height: 28px;
  font-family: "Lato", sans-serif;
  color: #3d3d3d;
  text-decoration: none;
  margin: 20px;
}

.footer-menu__nav-item a:hover {
  color: rgb(49, 129, 166);
  text-decoration: underline;
}

.footer-menu__nav-item:first-child a {
  margin-left: 0px;
}

.footer-menu__nav-item:last-child a {
  margin-right: 0px;
}

.footer-copyright {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
