@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  margin: 0px;
}

.title {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  background: rgba(0, 0, 0, 0.4);
  margin: 0px;
  align-items: baseline;
}

.title__name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  margin: 18px 0px 18px 79px;
}

.title__name h2:hover {
  color: #01813f;
}

.icon-block {
  display: flex;
  list-style-type: none;
  margin-top: 5px;
}

.nav-icon:hover {
  fill: #01813f;
}

.nav-icon {
  margin-right: 26px;
}

.title__log-sin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.title__log-sin a {
  text-decoration: none;
  color: #ffffff;
}

.title__log-sin a:hover {
  color: #01813f;
}

.sing-up {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.52);
  height: 584px;
  width: 444px;
  margin: 54px auto;
}

.sing-up__shape {
  position: relative;
  top: 29px;
}

.sing-up__main {
  position: relative;
  top: -40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 31px 50px 15px 50px;
}

.sing-up__main_sing {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #434343;
}

.sing-up__main_log {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.sing-up__main_log a {
  text-decoration: none;
  color: #3cb878;
}

.sing-up__btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  margin: -50px 20px 0px 20px;
}

.sing-up__btn i {
  color: #ffffff;
}

.sing-up__btn i::after {
  content: "";
  margin-left: 10px;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  mix-blend-mode: normal;
  opacity: 0.2;
}

.sing-up__btn__f {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 3px;
  height: 48px;
  width: 160px;
  background: #305db8;
}

.sing-up__btn__f:hover {
  background: #022263;
}

.sing-up__btn__g {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 3px;
  height: 48px;
  width: 160px;
  background: #df4a32;
}

.sing-up__btn__g:hover {
  background: #ab1f09;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  margin-top: 20px;
}

.line p {
  margin: 0px -40px 0px -40px;
}

.line__hr {
  width: 150px;
  height: 1px;
  border: none;
  border-top: 1px solid #f2f2f2;
}

.form {
  display: flex;
  justify-content: center;
}

.form__list {
  list-style-type: none;
}

.form__list__item input {
  box-sizing: border-box;
  width: 350px;
  height: 46px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
  margin: 10px 0px 0px -38px;
}

.form__list__item input:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.21);
}
.agree {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: -20px 0px 0px 45px;
}

.agree__text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  margin-top: 29px;
}

.agree__text a {
  text-decoration: none;
  color: #3cb878;
}
.agree__text a:hover {
  text-decoration: underline;
  color: #01813f;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.container input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: solid 1px #a5a5a5;
}

.container:hover input ~ .checkmark {
  background-color: #fff;
  border: solid 1px #a5a5a5;
}

.container input:checked ~ .checkmark {
  background-color: #ffffff;
  border: solid 1px #a5a5a5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: -1px;
  width: 12px;
  height: 19px;
  border: solid #3cb878;
  border-width: 0 3px 3px 0;
  transform: rotate(35deg);
}

.registr {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  height: 48px;
  width: 354px;
  background: rgba(60, 184, 120, 0.8);
  margin: 10px auto;
}

.registr:hover {
  background: #01813f;
}

.registr a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}
